/********************************

# Theme Buttons

*******************************/

div.btn-group {
	width: 100%;
}

.btn, button {
	border-radius: 0 !important;
	color: white;
	font-family: $font-family-sans-serif;
	outline: 0;
	padding: $spacer;
	text-transform: uppercase;
	max-width: 100%;
	
	&:focus, &:active:focus { outline: 0; }
}

a.btn { &:hover, &:focus { color: white; } }

.btn-red	{ background: $base_red; 
	&:hover { @include lighter($base_red) } }

.btn-orange { background: $base_orange; 
	&:hover { @include lighter($base_orange) } }

.btn-yellow { background: $base_yellow; 
	&:hover { @include lighter($base_yellow) } }

.btn-peach { background: $base_peach; 
	&:hover { @include lighter($base_peach) } }