/********************************

# Cover SCSS Component

*******************************/

header#landing {
	height: 85vh;
	min-height: 350px;
	max-width: 100%;
	position: relative;
	
	div.container {
		padding: 1.5rem;
		@include perfect_center();
	
		@include media-breakpoint-down(sm) { 
			width: 100%;
		}
		
		div.col-md-4 {
			max-width: 100%;
			margin-bottom: $spacer;
			overflow: auto;
			
			button {
				display: block;
				padding: $spacer;
				width: 100%;
				
				@include media-breakpoint-up(sm) { 
					padding: $spacer*1.5;
				}
				
				@include media-breakpoint-up(md) { 
					padding: $spacer*2;
				}
			}
		}
	}
}