/********************************

# Cover SCSS Component

*******************************/

header#landing {
	background-color: $gray-dark;
	height: 85vh;
	max-width: 100%;
	margin-bottom: 3rem;
	position: relative;
}

header#landing:after {
	border: 30px solid transparent;
	border-top-color: $gray-dark;
	content: "";
	left: 50%;
	margin-left: -30px;
    position: absolute;
    top: 100%;
}

header#landing div.container {
	padding: 1.5rem;
	@include perfect_center();
	text-align: center;
}

header#landing div.container div.row div.col-md-4 {
	max-width: 100%;
	margin-bottom: $spacer;
	overflow: auto;
}

header#landing div.container div.row div.col-md-4 a {
	border-radius: 0;
	color: white;
	display: block;
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	width:100%;
}

header#landing div.container div.row div.col-md-4:first-of-type a {
	background: $base_yellow;
}

header#landing div.container div.row div.col-md-4:nth-of-type(2) a {
	background: $base_orange;
}

header#landing div.container div.row div.col-md-4:last-of-type a {
	background: $base_red;
}

header#landing div.container div.row div.col-md-4:first-of-type a:hover { @include lighter($base_yellow) }
header#landing div.container div.row div.col-md-4:nth-of-type(2) a:hover { @include lighter($base_orange) }
header#landing div.container div.row div.col-md-4:last-of-type a:hover { @include lighter($base_red) }